build/
bin/
bin64/
arm64/
BetterMd/
BetterMd.x64/
BetterMd.arm64/
vs.proj/.vs/
vs.proj/x64/
vs.proj/ARM64
vs.proj/Debug/
vs.proj/Release/
vs.proj/BetterMd.vcxproj.user
vs.proj/BetterMd.exp
vs.proj/BetterMd.lib
vs.proj/BetterMd.log
vs.proj/BetterMd.sln
vs.proj/BetterMd
vs.proj/BetterMd.lib
UpgradeLog.htm
*.zip
*.sdf
*.suo
*.filters
*.opensdf
*.sln
*.exp
*.aps
*.bak
